<h1 class="text-center">Messages</h1>

<% if user_signed_in? %>

  <% @messages.each do |mex| %>
    <div>

        <h2 class="text-center" ><%= mex.conversation.recipient.name %></h2>
        <h3><%= mex.conversation.recipient.email %></h3>
        <%= mex.body %>
    </div>
  <% end %>

<% else %>

<h1 class="text-center">You are not logged bicc</h1>

<% end %>
