// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.message-box {
  background: mintcream;
  color: darkblue;
  font-family:  'Barlow Condensed', sans-serif;
}

.center {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
