<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1 class="text-center">These guys can help you:</h1>

<% @ebuyers.each do |ebuyer| %>
<p><%= "Hi! i'm #{ebuyer.name} #{ebuyer.surname} i live in #{ebuyer.city}" %></p>
<% end %>
